@import url("https://fonts.googleapis.com/css?family=Bungee");
@import url("https://fonts.googleapis.com/css?family=Bungee+Hairline");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
body {
  font-family: 'Roboto Condensed', sans-serif; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: underline; }

header {
  width: 290px;
  margin: 0 auto; }

#logo {
  font-family: 'Bungee', 'Arial Black', 'Arial', sans-serif;
  font-size: 36px;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 0px; }

nav {
  padding: 0 2px;
  display: flex;
  justify-content: space-between; }
  nav a {
    letter-spacing: 4px; }

#works {
  margin-top: 40px; }
  #works figure {
    margin: 0 10px;
    margin-bottom: 50vh; }
    #works figure img {
      height: auto;
      width: auto;
      max-height: calc(100vh - 160px);
      max-width: calc(100vw - 20px);
      min-width: 280px; }
