@import "header";
@import "works";
@import "bio";
@import "contact";


@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 2px;
}

section {
	padding-left: 10px;
	margin-top: 40px;
}

h3 {
	// letter-spacing: 4px;
	font-family: 'Roboto Mono', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 18px;
}

a {
	text-decoration: none;
	color: inherit;
	&:hover {
		text-decoration: underline;
	}
}

ul {
	list-style: none;
}

#contact {
	.address {
		margin-bottom: 20px;
	}

}












